<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.client.mybatis.mapper.AgreementBaseMapper">
  <resultMap id="BaseResultMap" type="com.client.mybatis.domain.AgreementBase">
    <result column="AGREEMENT_BASE_ID" jdbcType="VARCHAR" property="agreementBaseId" />
    <result column="AGREEMENT_ID" jdbcType="VARCHAR" property="agreementId" />
    <result column="BASE_AND_NURSERY_ID" jdbcType="VARCHAR" property="baseAndNurseryId" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="LAST_UPDATED_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedStamp" />
  </resultMap>
  <insert id="insert" parameterType="com.client.mybatis.domain.AgreementBase">
    insert into agreement_base (AGREEMENT_BASE_ID, AGREEMENT_ID, BASE_AND_NURSERY_ID, 
      TYPE, LAST_UPDATED_STAMP)
    values (#{agreementBaseId,jdbcType=VARCHAR}, #{agreementId,jdbcType=VARCHAR}, #{baseAndNurseryId,jdbcType=VARCHAR}, 
      #{type,jdbcType=DECIMAL}, #{lastUpdatedStamp,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select AGREEMENT_BASE_ID, AGREEMENT_ID, BASE_AND_NURSERY_ID, TYPE, LAST_UPDATED_STAMP
    from agreement_base
  </select>
</mapper>